/* ==== Google font ==== */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900|Open+Sans:300,400,600,700|Raleway:300,400,600,700');

/* === prettify === */
@import url('../js/google-code-prettify/prettify.css');
/* === fontawesome === */
@import url('font-awesome.css');


/* ===================================
1. General
==================================== */

body {
	font-family:'Open Sans', Arial, sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#656565;
}

a:active {
	outline:0;
}

.clear {
	clear:both;
}

h1,h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	line-height: 1.1em;
	color: #666666;
	margin-bottom: 20px;
	/*font-size: 16px;*/
}


.milummain {
	font-size: 13px;
	line-height: 18px;
	color: #1F0C65;
	font-family: "Open Sans", Arial, sans-serif;
	
}

td{
	padding-top: 5px;
	padding-bottom: 0px;
}

.suborange { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt; 
	font-weight: bold; 
	color: #FF9900
}
.page {  
	background-color: #FFFFFF}
	
.milumleftnav {  
	font-size: 14px; 
	line-height: 16px; 
	color: #666; 
	font-weight: normal; 
	font-family: Open Sans, Arial, sans-serif;
}
.milumleftnavbold {  
	font-size: 14px; 
	line-height: 16px; 
	color: #666; 
	font-weight: bold; 
	font-family: Open Sans, Arial, Helvetica, sans-serif
}
body {font-size: 12px; 
	line-height: 13px; 
	color: #1F0C65; 
	font-family: Arial, Open Sans, sans-serif}

table {
	font-size: 14px; 
	line-height: 15px; 
	color: #666666; 
	font-family: Arial, Open Sans, sans-serif}

.style11 {
	font-family:'Open Sans', Arial, sans-serif;
	font-size:16px;
	font-weight:300;
	line-height:1.6em;
	color:#666;
}
.style16 {
  color: #FF6600;
  font-weight: bold;
}
.heading {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	/*font-weight: bold;*/
	line-height: 1.1em;
	color: #666;
}
a:link {
	color: #666;
}
a:visited {
	color: #666666;
}
.indent {
	left: 20px;
}
.milumleftnavbold {
font-size: 12px; line-height: 16px; color: #1F0C65; font-family: Arial, Helvetica, sans-serif
}
.specialoffer {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	/*font-weight:700;*/
	color: #666;
	line-height: 1.1em;
	margin-bottom: 5px;
}
.milummaingreen {
font-size: 11px; line-height: 15px; color: #00CC00; font-family: Verdana, Arial, Helvetica, sans-serif
}
.milummainsmall {
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	font-family: 'Open Sans', Arial, sans-serif;
	alignment-adjust: central;
}
.quoteslarge {
font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #1F0C65;	
	
}
.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

select[multiple], select[size] {
    height: 30px;
}

input[type=submit].btn-block, input[type=reset].btn-block, input[type=button].btn-block {
    width: 30%;
}
